Centro_Stella/NodeRed/flow_node-red_mqtt_08-04-2026.json
[
    {
        "id": "f56298adf0acbb66",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "faa95bf86b349b9d",
        "type": "mqtt in",
        "z": "f56298adf0acbb66",
        "name": "",
        "topic": "trapano/telemetria",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "01602b78d1c52aa5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "1707275490d90163"
            ]
        ]
    },
    {
        "id": "a83599abc4ccdc27",
        "type": "comment",
        "z": "f56298adf0acbb66",
        "name": "MQTT SUBSCRIBER al topic */telemetria",
        "info": "",
        "x": 200,
        "y": 140,
        "wires": []
    },
    {
        "id": "1dc2694fd954e2c0",
        "type": "mqtt in",
        "z": "f56298adf0acbb66",
        "name": "",
        "topic": "pressione/telemetria",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "01602b78d1c52aa5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "39f0eb6bdd773900"
            ]
        ]
    },
    {
        "id": "7b2262d6f1c1f9d4",
        "type": "mqtt in",
        "z": "f56298adf0acbb66",
        "name": "",
        "topic": "tornio/telemetria",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "01602b78d1c52aa5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 580,
        "wires": [
            [
                "ce97b721691b0713"
            ]
        ]
    },
    {
        "id": "357c7671e2a85640",
        "type": "mqtt in",
        "z": "f56298adf0acbb66",
        "name": "",
        "topic": "pedana_tornio/telemetria",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "01602b78d1c52aa5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 640,
        "wires": [
            [
                "065ef49db95ee8ca"
            ]
        ]
    },
    {
        "id": "f9e4cdd517e26ff9",
        "type": "mqtt in",
        "z": "f56298adf0acbb66",
        "name": "",
        "topic": "robot/telemetria",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "01602b78d1c52aa5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 460,
        "wires": [
            [
                "67be907b7928808d"
            ]
        ]
    },
    {
        "id": "e2a1a9588a7b8c81",
        "type": "mqtt in",
        "z": "f56298adf0acbb66",
        "name": "",
        "topic": "pedana_pressione/telemetria",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "01602b78d1c52aa5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "c7469e8492212372"
            ]
        ]
    },
    {
        "id": "564fbce721d1eb69",
        "type": "mqtt in",
        "z": "f56298adf0acbb66",
        "name": "",
        "topic": "pedana_trapano/telemetria",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "01602b78d1c52aa5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "a1d9549aac106006"
            ]
        ]
    },
    {
        "id": "1a1da23423b03144",
        "type": "mqtt in",
        "z": "f56298adf0acbb66",
        "name": "",
        "topic": "pedana_assemblaggio/telemetria",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "01602b78d1c52aa5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 740,
        "wires": [
            [
                "11bb34da934ad804"
            ]
        ]
    },
    {
        "id": "a1d9549aac106006",
        "type": "debug",
        "z": "f56298adf0acbb66",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "c7469e8492212372",
        "type": "debug",
        "z": "f56298adf0acbb66",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 380,
        "wires": []
    },
    {
        "id": "67be907b7928808d",
        "type": "debug",
        "z": "f56298adf0acbb66",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 460,
        "wires": []
    },
    {
        "id": "065ef49db95ee8ca",
        "type": "debug",
        "z": "f56298adf0acbb66",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 640,
        "wires": []
    },
    {
        "id": "11bb34da934ad804",
        "type": "debug",
        "z": "f56298adf0acbb66",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 740,
        "wires": []
    },
    {
        "id": "1707275490d90163",
        "type": "function",
        "z": "f56298adf0acbb66",
        "name": "function 1",
        "func": "msg.payload = {\n    GiriAlMinuto: msg.payload.GiriAlMinuto,\n    PresenzaOperatore: msg.payload.PresenzaOperatore,\n    AssorbimentoElettrico: msg.payload.AssorbimentoElettrico,\n    Stato: msg.payload.Stato\n};\nmsg.tags = { macchina: \"Trapano\" };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "f8756af24d528870"
            ]
        ]
    },
    {
        "id": "39f0eb6bdd773900",
        "type": "function",
        "z": "f56298adf0acbb66",
        "name": "function 2",
        "func": "msg.payload = {\n    PressioneLinea: msg.payload.PressioneLinea,\n    TempFlussometro: msg.payload.TempFlussometro,\n    TemperaturaAmbiente: msg.payload.TemperaturaAmbiente,\n    Flusso: msg.payload.Flusso,\n    Assorbimenti: msg.payload.Assorbimenti\n};\nmsg.tags = { macchina: \"Pressione\" };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "31d422a49acd7837"
            ]
        ]
    },
    {
        "id": "ce97b721691b0713",
        "type": "function",
        "z": "f56298adf0acbb66",
        "name": "function 3",
        "func": "msg.payload = {\n    GiriAlMinuto: msg.payload.GiriAlMinuto,\n    Tensione: msg.payload.Tensione,\n    Corrente: msg.payload.Corrente,\n    CoppiaAzionamento: msg.payload.CoppiaAzionamento,\n    Velocita: msg.payload.Velocita,\n    PotenzaCalcolata: msg.payload.PotenzaCalcolata,\n    AccelX: msg.payload.AccelX,\n    AccelY: msg.payload.AccelY,\n    AccelZ: msg.payload.AccelZ\n};\nmsg.tags = { macchina: \"Tornio\" };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 580,
        "wires": [
            [
                "c0443b5830ae177f"
            ]
        ]
    },
    {
        "id": "f8756af24d528870",
        "type": "influxdb out",
        "z": "f56298adf0acbb66",
        "influxdb": "ed9b57d83781b5a3",
        "name": "",
        "measurement": "dati",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "centro stella",
        "bucket": "dati_prova_1",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "31d422a49acd7837",
        "type": "influxdb out",
        "z": "f56298adf0acbb66",
        "influxdb": "ed9b57d83781b5a3",
        "name": "",
        "measurement": "dati",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "centro stella",
        "bucket": "dati_prova_1",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "c0443b5830ae177f",
        "type": "influxdb out",
        "z": "f56298adf0acbb66",
        "influxdb": "ed9b57d83781b5a3",
        "name": "",
        "measurement": "dati",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "centro stella",
        "bucket": "dati_prova_1",
        "x": 780,
        "y": 580,
        "wires": []
    },
    {
        "id": "01602b78d1c52aa5",
        "type": "mqtt-broker",
        "name": "raspy broker",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ed9b57d83781b5a3",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://eu-central-1-1.aws.cloud2.influxdata.com/",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "d9f0beea4fc2bdfb",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]
